body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #616161;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .menu-section {
    margin-bottom: 30px;
  }
  
  .menu-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .menu-item span {
    flex: 1;
  }
  
  .menu-item button {
    background-color: #2c80ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-item button:hover {
    background-color: #2c80ff;
  }
  
  /* Food and Drink Icons */
  .food-icon {
    background-image: url('food-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .drink-icon {
    background-image: url('drink-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2c80ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2c80ff;
  }
  